/* .bck-img {
    background-image: url('/assets/images/contact.jpeg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-bottom: -70px;
} */

.container {
    padding-top: 100px;
}

.card {
    padding: 15px 30px;
    width: 50%;
    margin: auto;
}

#email,
#phone {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: .5em;
}

@media (max-width:1000px) {
    .card {
        width: 100%;
        padding: 0;
    }
    .bck-img {
        display: hidden;
    }
}