.container {
    padding-top: 100px;
}

h3,
h4,
h5 {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    padding-bottom: 40px;
}

h5 {
    line-height: 1.35em;
}

.card {
    padding: 15px 30px;
    width: 50%;
    margin: auto;
}

#email,
#phone {
    font-family: 'Courier New', Courier, monospace;
    line-height: .5em;
}

@media (max-width:1000px) {
    .card {
        width: 100%;
    }
}