<!-- MAIN HEADER -->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div [@fadeInUp]="fadeInUp" class="white-text text-center wow fadeInUp">
          <h5>
            <a routerLink="/home">Home</a> >
            <span style="color:#33b5e5">About me</span> > AL<span
              style="color:#33b5e5"
              >LEN</span
            >
            PAVIC
          </h5>
          <h2 id="ap">Web Developer Gold Coast</h2>

          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.MAIN HEADER -->
<div class="container">
  <h1 [@flipInX]="flipInX" style="color:#232323; text-align: center;">
    Focusing
    <span [@flipInX]="flipInX" style="color:#33b5e5; font-size:36px;"
      >Web Development</span
    >
    Technologies
  </h1>
</div>
<hr />
<div class="container">
  <div id="wd-icons" class="row" [@flipInX]="flipInX">
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/ng.png" alt="angularjs logo" />
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/pic1.png" alt="wordpress logo" />
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/pic4.png" alt="javascript logo" />
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/node.png" alt="nodejs logo" />
    </div>
  </div>
</div>
<div id="2cards" class="container">
  <div class="row">
    <div id="col1" class="col-md-6 col-sm-12">
      <div class="card">
        <h3>Web Developer</h3>

        <P
          >Gold Coast based web developer working with the latest technologies
          creating engaging websites with WordPress for businesses which
          includes eCommerce, blogs, business and portfolio sites. I Enjoy
          transforming designs into online web application and focusing on
          client satisfaction, user experience design, user interface design,
          for mobile and desktop. Furthermore, developing web based applications
          with the Angular/Firebase stack.
        </P>

        <h4>Tools</h4>
        <ul>
          <li>Windows</li>
          <li>Angular Cli</li>
          <li>Node js</li>
          <li>GitHub</li>
          <li>Git Bash</li>
          <li>Visual Studio Code</li>
          <li>phpStorm</li>
          <li>Developer tools Firefox</li>
        </ul>
        <h4>Software</h4>
        <ul>
          <li>paint.net</li>
          <li>Photoshop</li>
          <li>Adobe CC</li>
        </ul>
        <h4>Backends</h4>
        <ul>
          <li>Firebase</li>
          <li>MySQL</li>
          <li>Google Cloud</li>
          <li>MEAN Stack</li>
        </ul>
      </div>
    </div>

    <div id="col2" class="col-md-6 col-sm-12">
      <div class="card">
        <h3>Experience</h3>
        <p>
          Developing custom themes in WordPress with ACF & PHP, specialise in
          catalogue, flyer and eCommerce sites. Working with
          Angular/Firebase-Stack, building PWA's, SPA's with Angular 2+. Ionic
          development for Andriod and IOS apps. Working with CSS/SCSS:
          Bootstrap, MD-Bootstrap, Materialize, ng-Bootstrap and Angular
          Material. Furthmore skills, working with API's, WordPress page
          builders, Beaver Builder, Elementor, Cornerstone & Visual composer.
          HTML 5, CSS/SCSS, Bootstrap & JavaScript static sites.
        </p>

        <h4>Frameworks</h4>
        <ul>
          <li>Angular</li>
          <li>Bootstrap 4</li>
          <li>Material Design Bootstrap</li>
          <li>Ng Bootstrap</li>
          <li>Materialize</li>
        </ul>
        <h4>CMS</h4>
        <ul>
          <li>WordPress</li>
          <li>Contentful</li>
        </ul>
        <h4>Languages</h4>
        <ul>
          <li>HTML 5</li>
          <li>CSS/SCSS</li>
          <li>JQuery</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>PHP</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
  </div>
  <h6 class="mt-5" style="color:#232323; float:right;">
    Back to the
    <a routerLink="/home"
      ><span style="color:#33b5e5;font-weight:bold;">home page</span></a
    >
  </h6>
</div>
<div class="col-md-12  col-sm-12">
  <div id="other-interests" class="container-fluid">
    <h3>Other Interest</h3>
    <p>
      When not working or studying I enjoy family time with my girls, cooking,
      bike riding, fishing outdoors type, love soccer and all sports really AFL
      supporter go the "Magpies" and in the state of origin I barrack for the
      Maroons, go QUEENSLANDER! and when chilling out I'm watching a movie on
      Netflix.
    </p>
  </div>
</div>
<div>
  <app-console-text></app-console-text>
</div>
<div class="container">
  <div class="row mt-5">
    <div id="magpies" class="col-md-4">
      <img src="assets/images/magpies.jpg" height="100" alt="magpies jersey" />
    </div>
    <div id="qld" class="col-md-4">
      <img
        src="assets/images/qld.png"
        height="100"
        alt="qld state of orgin logo"
      />
    </div>
    <div id="liverpool" class="col-md-4">
      <img
        src="assets/images/Liverpool.png"
        height="110"
        alt="qld state of orgin logo"
      />
    </div>
  </div>
</div>
<app-modal></app-modal>
<!-- BLUE BANNER -->
<app-contact-modal></app-contact-modal>

<app-footer></app-footer>
