<!-- MAIN HEADER -->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Web Developer Gold Coast</h2>
          <h5>
            <span style="color:#33b5e5">About me</span> > AL<span style="color:#33b5e5">LEN</span> PAVIC</h5>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.MAIN HEADER -->
<div class="container">
  <h1 style="color:#232323; text-align: center;">Focusing
    <span style="color:#33b5e5; font-size:36px;">Web Development</span> Technologies</h1>
</div>
<hr>
<div class="container">
  <div id="wd-icons" class="row">
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/ng.png" alt="angularjs logo"> </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/pic1.png" alt="wordpress logo"> </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/pic4.png" alt="javascript logo"> </div>
    <div class="col-md-3 col-sm-6">
      <img src="assets/images/node.png" alt="nodejs logo"> </div>
  </div>

</div>
<div id="2cards" class="container">
  <div class="row">
    <div id="col1" class="col-md-6 col-sm-12">
      <div class="card">
        <h3>Web Developer</h3>

        <P>Gold Coast based front-end web developer working with the latest technologies building WordPress websites for
          small to medium size businesses including eCommerce, blogs and portfolio sites. Furthermore, creating web apps
          with Angular's front-end framework and also Ionic's mobile framework. Happy coding everyday
          <em>(with tea)</em> focusing on client satisfaction, user experience design, user interface design, for mobile
          and desktop.
        </P>

        <h4>Tools</h4>
        <ul>
          <li>Windows</li>
          <li>Angular Cli</li>
          <li>Node js</li>
          <li>GitHub</li>
          <li>Git Bash</li>
          <li>Visual Studio Code</li>
          <li>Developer tools Firefox</li>
        </ul>
        <h4>Software</h4>
        <ul>
          <li>paint.net</li>
          <li>Canva</li>
          <li>Adobe CC</li>
        </ul>
        <h4>Backends</h4>
        <ul>
          <li>Firebase</li>
          <li>AWS</li>
          <li>Google Cloud</li>
          <li>MEAN Stack</li>
        </ul>
      </div>
    </div>


    <div id="col2" class="col-md-6 col-sm-12">
      <div class="card">
        <h3>Experience</h3>
        <p>Developing custom themes in WordPress. Building SPA's in Angular. Using Firebase for the backend with Angular.
          Working with API's - WordPress REST API, Woocommerce and Contenful's API. Integrating APIs' as a CMS for Angular
          and Ionic apps. Working with CSS/SCSS: Bootstrap, MD-Bootstrap, Materialize, ng-Bootstrap and Angular Material.
          Furthermore, Skills with WordPress page builders Beaver Builder, Elementor, Cornerstone, Visual composer. Coding
          HTML 5, CSS/SCSS, Bootstrap & JavaScript static sites.
        </p>

        <h4>Frameworks</h4>
        <ul>
          <li>Angular</li>
          <li>Bootstrap 4</li>
          <li>Material Design Bootstrap</li>
          <li>Ng Bootstrap</li>
          <li>Materialize</li>
        </ul>
        <h4>CMS</h4>
        <ul>
          <li>WordPress</li>
          <li>Contentful</li>
        </ul>
        <h4>Languages</h4>
        <ul>
          <li>HTML 5</li>
          <li>CSS/SCSS</li>
          <li>JQuery</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>PHP</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12  col-sm-12">

  <div id="other-interests" class="container-fluid">
    <h3>Other Interest</h3>
    <p>When not working or studying I enjoy family time with my girls, cooking, bike riding, fishing outdoors type, love
      soccer and all sports really AFL supporter go the "Magpies" and in the state of origin I barrack for the Maroons, go
      QUEENSLANDER! and when chilling out I'm watching a movie on Netflix.</p>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div id="magpies" class="col-md-4">
      <img src="assets/images/magpies.jpg" height="100" alt="magpies jersey">
    </div>
    <div id="qld" class="col-md-4">
      <img src="assets/images/qld.png" height="100" alt="qld state of orgin logo">
    </div>
    <div id="liverpool" class="col-md-4">
      <img src="assets/images/Liverpool.png" height="110" alt="qld state of orgin logo">
    </div>
  </div>
</div>
<app-footer></app-footer>