<!-- MAIN HEADER -->
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Web Developer Gold Coast</h2>
                    <h5><span style="color:#33b5e5">About me</span> > AL<span style="color:#33b5e5">LEN</span> PAVIC</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.MAIN HEADER -->


<div class="container">
    <div class="row">
        <div id="col1" class="col-6">
            <h3>Web Developer</h3>

            <!-- <p>I am a self taught web developer currently studying the <a href="https://www.freecodecamp.org/alvics"><span class="fcc">Free Code Camp</span></a> Certified Front-End Web developer course. Further online studies with Angular, Ionic and React,
                CSS 3, jQuery, OOP in Javascript ES5 & ES6 courses. Working every day on personal projects focusing on Frontend development with Angular, JavaScript and WordPress. Learning the latest in web development practices to stay ahead of the game.
            </p> -->
            <P>Gold Coast based front-end web developer working with the latest web development principles and technologies, building WordPress websites for blogs and businesses, creating SPA (single page application) with JavaScript front-end frameworks
                such Angular, Ionic and React. Happy coding everyday
                <em>(with tea)</em> focusing on client satisfaction, user experience design, user interface design, for mobile and desktop. </P>
            <!-- I providing a complete business web solutions for local businesses and design SEO packages to increase traffic
                and sales.-->

            <h4>Tools</h4>
            <ul>
                <li>Windows</li>
                <li>Node js</li>
                <li>Visual Studio Code</li>
                <li>GitHub</li>
                <li>Git Bash</li>
                <li>Chrome DevTools</li>
            </ul>
            <h4>Software</h4>
            <ul>
                <li>paint.net</li>
                <li>Canva</li>
                <li>Adobe CC</li>
            </ul>
            <h4>Backends</h4>
            <ul>
                <li>Firebase</li>
                <li>AWS</li>
                <li>Google Cloud</li>
                <li>MEAN Stack</li>
            </ul>
        </div>


        <div id="col2" class="col-6">
            <h3>Experience</h3>
            <p>Developing custom themes in Wordpress. Building SPA in Angular. Using Firebase as the backend with Angular. Intergarting Contenful's API as CMS for Angular, Ionic apps with WordPress and woocommerce intergration. CSS: MD-Bootstrap, Materliaze,
                ng-Bootstrap and Bootswatch. Skills with WordPress page builders Beaver Builder, Elementor, Cornerstone, Visual composer. Coding HTML 5, CSS/SCSS, Bootstrap & JavaScript static sites.
            </p>

            <h4>Frameworks</h4>
            <ul>
                <li>Angular</li>
                <li>Bootstrap 4</li>
                <li>Material Design Bootstrap</li>
                <li>Ng Bootstrap</li>
                <li>Materliaze</li>
            </ul>
            <h4>CMS</h4>
            <ul>
                <li>WordPress</li>
                <li>Contentful</li>
            </ul>
            <h4>Languages</h4>
            <ul>
                <li>HTML 5</li>
                <li>CSS/SCSS</li>
                <li>JQuery</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>PHP</li>
            </ul>
        </div>
    </div>
</div>
<div id="other-interests" class="container-fluid">
    <h3>Other Interest</h3>
    <p>When not working or studying I enjoy family time with my girls, cooking, bike riding, fishing outdoors type, love soccer and all sports really AFL supporter go the "Magpies" and in the state of origin I barrack for the Maroons, go QUEENSLANDER! and
        when chilling out I'm watching a movie on Netflix.</p>
</div>


<app-footer></app-footer>