.container {
    padding-top: 100px;
    color: #f8f8f8;
}

.fcc {
    font-weight: 500;
    color: #006400;
}

#col1 {
    background-image: linear-gradient(90deg, aquamarine, #0a9f8f);
    padding: 50px 25px;
}

#col2 {
    background-image: linear-gradient(90deg, bisque, orange);
    padding: 50px 25px;
}