.container {
    padding-top: 100px;
    color: #f8f8f8;
}

.fcc {
    font-weight: bold;
    color: #006400;
}

h2 {
    color: #fff;
}

.background-image {
    background: url('/assets/images/aboutme.png')no-repeat center center;
}


/* #col1 {
    background-image: linear-gradient(90deg, aquamarine, #0a9f8f);
    padding: 50px 25px;
} */

#col1 {
    padding: 50px 45px;
    animation-name: rainbow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        background: linear-gradient(to bottom left, #33b5e5, #add9eb);
    }
    50% {
        background: linear-gradient(to bottom left, #232323, #add9eb);
    }
    100% {
        background: linear-gradient(to bottom left, #add9eb, #232323);
    }
}


/* #col2 {
    background-image: linear-gradient(90deg, bisque, orange);
    padding: 50px 45px;
} */

#col2 {
    padding: 50px 45px;
    animation-name: rainbow2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.about {
    font-weight: bold;
    color: black;
}

.me {
    font-weight: bold;
    color: #33b5e5;
}

.container-fluid {
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom left, #33b5e5, #add9eb);
    padding: 35px 250px;
    margin-top: 110px;
    margin-bottom: -80px;
}

@keyframes rainbow2 {
    0% {
        background: linear-gradient(to bottom left, #33b5e5, #add9eb);
    }
    50% {
        background: linear-gradient(to bottom left, #add9eb, #232323);
    }
    100% {
        background: linear-gradient(to bottom left, #33b5e5, #add9eb);
    }
}