<!-- <div class="container">
  <div class="container">
    <div>Showing blog details for blog: {{ id }}</div> -->

<!-- <h1>{{post && post.title ? post.title.rendered : "..."}}</h1>
    <div [innerHtml]="post.content" *ngIf="post && post.content"></div> -->

<!-- <div>Showing content {{ content }}</div> -->
<!-- </div>

  <div class="container">
    <section>
      <card *ngFor="let post of post">
        <mdb-card-img [src]="post.featured_image.medium"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4 [innerHTML]="post.title"></h4>
          </mdb-card-title>
          <mdb-card-text [innerHTML]="post.content"></mdb-card-text>
        </mdb-card-body>
      </card>
    </section>
  </div>
  <app-footer></app-footer>
</div> -->
