<!-- Main -->
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Web Developer Gold Coast</h2>
                    <h5><span style="color:#33b5e5">{{ title }}</span> > AL<span style="color:#33b5e5">LEN</span> PAVIC</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.Main -->



<div id="main" class="container">
    <h1 style="color:#232323">{{ title }} Websites by AL<span style="color:#33b5e5">LEN</span> PAVIC</h1>
    <h4 style="color:#232323">Fully functional shop to get results</h4>
    <div class="row">
        <div class="col">
            <i class="material-icons" style="color: #33b5e5">shopping_cart</i>
        </div>
        <div class="col-md-4 col-sm-12">
            <h5>Building professional online eCommerce stores</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus sed nostrum magnam soluta ullam ratione nulla quis voluptatem sequi.</p>
        </div>
        <div class="col-md-4 col-sm-12"><img srcset="assets/pages/ecommerce.jpeg" width="500" sizes="(max-width: 474px) 100vw, 474px" alt=""></div>
    </div>
    <div id="row2" class="row">
        <div class="col mt-3">
            <i class="material-icons" style="color: #33b5e5">
                headset_mic
                </i>
        </div>
        <div class="col-md-4 col-sm-12 mt-3">
            <h5>Website support</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus sed nostrum magnam soluta ullam ratione nulla quis voluptatem sequi.</p>
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <i class="material-icons" style="color: #33b5e5">
                person_outline
                </i>
        </div>
        <div class="col-md-4 col-sm-12 mt-3">
            <h5>Local development</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ducimus sed nostrum magnam soluta ullam ratione nulla quis voluptatem sequi.</p>
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12"><img src="assets/pages/websites2.png" width="500" alt=""></div>
        <div id="whyus" class="col-md-6 col-sm-12">
            <h5 class="mt-5">Why choose us?</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos asperiores sunt cumque nemo ipsum voluptas voluptatum possimus inventore veritatis et?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil optio sapiente blanditiis modi animi beatae ullam nostrum tenetur quam dicta.</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="row3" class="row mt-5">
        <div class="col-md-4"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <h5 class="mt5">Take online payments</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente et perspiciatis qui odit velit animi?</p>
        </div>
        <div class="col-md-4"><i class="fa fa-lock" aria-hidden="true"></i>
            <h5 class="mt5">Secure checkout gateway</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aspernatur nemo illum. Non, quas laudantium.</p>
        </div>
        <div class="col-md-4"><i class="fa fa-check-circle" aria-hidden="true"></i>
            <h5 class="mt5">Analytics reports</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus consequuntur nisi temporibus ducimus, ab ut!</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="banner"><button class="btn mt-5" waves-light mdbWavesEffect routerLink="/contact">Get a Quote</button></div>
    </div>
</div>




<app-footer></app-footer>