<!-- Main -->
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Web Developer Gold Coast</h2>
                    <h5><span style="color:#33b5e5">{{ title }}</span> > AL<span style="color:#33b5e5">LEN</span> PAVIC</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.Main -->


<!-- MAIN CONTAINER -->
<div id="main" class="container">
    <!-- HEADING -->
    <h1 style="color:#232323">{{ title }} Websites by AL<span style="color:#33b5e5">LEN</span> PAVIC</h1>
    <h4 style="color:#232323">Fully functional online store</h4>

    <!-- LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
    <div class="box-container mt-5">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <span class="li-header"> Building online eCommerce stores</span>
                    <li><i class="material-icons" style="color: #33b5e5">
                        shopping_cart
                        </i>
                    </li>
                    <br><span class="li-text">If you are looking to sell products online and accept payments, I can help you build a complete eCommerce website for business.</span>
                    <span class="li-header">Website support</span>
                    <li><i class="material-icons" style="color: #33b5e5">
                        headset_mic
                        </i>
                    </li>
                    <br>
                    <span class="li-text">Online stores need the right SEO structure to help search engines rank you website to increase traffic.</span>
                    <span class="li-header"> For Mobile & Desktop</span>
                    <li><i class="material-icons" style="color: #33b5e5">
                       devices
                        </i>
                    </li>
                    <br>
                    <span class="li-text">Your eCommerce store will be modern designed and work effectively on all devices from mobile to desktop.
                    </span>
                </ul>
            </div>
            <!-- IMAGE RIGHT-SIDE -->
            <div class="col-md-6 mt-4">
                <div id="responsive" class="col-md-4 col-sm-12"><img srcset="assets/pages/ecommerce.jpeg" width="500" sizes="(max-width: 474px) 100vw, 474px" alt="">
                </div>
            </div>
        </div>
        <!-- /.END LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
    </div>
    <!-- /.END BOX-CONTAINER -->

    <!-- ECOMMERCE-IMAGE / TEXT-ROW -->
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12"><img id="websites" src="assets/pages/websites2.png" width="500" alt=""></div>
        <div id="whyus" class="col-md-6 col-sm-12">
            <h5 class="mt-5">Why choose us?</h5>
            <p><span style="color:#33b5e5; font-weight:bold;">Affordable website service</span> for small to medium businesses to get you online professionally, faster and a stay ahead of your competitors. </p>
            <p><span style="color:#33b5e5; font-weight:bold;">We guarantee</span> to beat any written quote. Whether you are looking for eCommerce store or a custom website.</p>
        </div>
    </div>
    <!-- /.END ECOMMERCE-IMAGE / TEXT-ROW-->
</div>
<!-- /.END MAIN CONTAINER -->

<!-- ROW 3 CONTAINER -->
<div class="container">
    <!-- ROW 3 -->
    <div id="row3" class="row mt-5">
        <div class="col-md-4"><i class="fa fa-credit-card-alt mb-3" aria-hidden="true"></i>
            <h5 class="mt3">Take online payments</h5>
            <p>Accept online payments from your eCommerce store with credit cards and PayPal.</p>
        </div>
        <div class="col-md-4"><i class="fa fa-desktop mb-3" aria-hidden="true"></i>
            <h5 class="mt5">Admin dashboard</h5>
            <p>Add and manage products, add categories, view orders add customers track your sales and more...</p>
        </div>
        <div class="col-md-4"><i class="fa fa-signal mb-3" aria-hidden="true"></i>
            <h5 class="mt5">Analytics reports</h5>
            <p>Get a full insight of your customers, locations, devices used, stores performance and more...</p>
        </div>
    </div>
    <!-- /.END ROW3 -->

    <!-- CALL TO ACTION -->
    <div class="bottomsubhead">
        <h6>Specializing in Blazing-Fast high quality website</h6>
        <p>Request a quote</p>
    </div>

    <!-- /.END CALL TO ACTION -->
</div>
<!-- /.END ROW 3 CONTAINER -->

<!--Pagination -->
<app-contact-modal></app-contact-modal>
<app-pagination></app-pagination>
<!--/Pagination -->
<!-- FOOTER -->
<app-footer></app-footer>