<!-- Main -->
<header class="h-100">
    <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>Web Developer based on the Gold Coast, Aust.</h2>
                        <h5>Focusing technologies, Angular, React & WordPress</h5>
                        <br>
                        <p>Business seeking a web presence or an employer looking to hire, please get intouch. </p>
                        <button class="btn btn-danger waves-light" mdbWavesEffect><a routerLink="/contact"> I need a website</a></button><button class="btn btn-default waves-light" mdbWavesEffect><a routerLink="/hire">I'm looking to hire</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->

    <!-- BANNER 
    <div id="banner"></div> -->

</header>
<!--Main Layout-->
<main class="text-center py-5 mt-3">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">The Now</h3>
                <p align="justify">Working with and learning the latest web development technologies, building WordPress websites for blogs and businesses, creating SPA (single page application) with front-end frameworks such Angular, Ionic and React. Happy coding everyday
                    <em>(with tea)</em> focusing on client satisfaction, user experience design, user interface design, for mobile and desktop.</p>
            </div>
        </div>
    </div>
</main>
<!--Main Layout-->