<!-- LAPTOP MOCKUPS -->
<div class="container mb-5">
  <!-- IMAGE ANGULAR PROJECTS -->
  <h3
    class="smallScreenProjects white-text pt-5"
    style="text-align: center;background-color: #33b5e5;"
  >
    Angular Projects
  </h3>
  <img
    id="ngBanner"
    src="assets/images/ngprojects.png"
    width="1105"
    height="150"
    alt="angular projects"
  />
  <!-- LAPTOP MOCK UPS-->
  <div class="row mt-3">
    <div class="column-2 px-2 mb-r">
      <div class="card">
        <a data-toggle="modal" data-target="#mock4">
          <img
            class="img-fluid"
            src="assets/images/mocks/aroma_store.jpg"
            mdbTooltip="Angular-Project"
            placement="bottom"
          />
        </a>
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Aroma Store</h4>
          <!--Text-->
          <p class="card-text">
            Current project, Aroma store selling doTERRA poducts online.
            <strong>ecommerce store</strong>.
          </p>
          <a data-toggle="modal" data-target="#mock4">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View project
            </button>
          </a>
          <br />
          <p>
            <!-- 3 ICONS -->
            <a
              href="https://github.com/alvics/ng-playground/tree/eShop_Ooh_La_Lava"
              target="blank"
            >
              <i
                class="fa fa-github"
                mdbTooltip="View source code"
                placement="top"
              ></i>
            </a>
            <i class="fa fa-heart"></i>
            <a
              href="https://aromastore-660c7.firebaseapp.com/#/home"
              target="blank"
            >
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2 mb-r">
      <div class="card">
        <a data-toggle="modal" data-target="#mock5">
          <img
            class="img-fluid"
            src="assets/images/mocks/malp.png"
            mdbTooltip="Angular-Project"
            placement="bottom"
          />
        </a>
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Personal Project</h4>
          <!--Text-->
          <p class="card-text">
            This is my personal portfolio website, showcasing skills and
            services.
          </p>
          <a data-toggle="modal" data-target="#mock5">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <a href="https://github.com/alvics/my-portfolio2" target="blank">
              <i
                class="fa fa-github"
                mdbTooltip="View source code"
                placement="top"
              ></i>
            </a>
            <i class="fa fa-heart"></i>
            <i
              class="fa fa-mail-forward"
              mdbTooltip="View-live"
              placement="top"
            ></i>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2">
      <div class="card">
        <a data-toggle="modal" data-target="#mock6">
          <img
            class="img-fluid"
            src="assets/images/mocks/pure.jpg"
            mdbTooltip="Angular-Project"
            placement="bottom"
          />
        </a>
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Pure Body Coffee Scrub</h4>
          <!--Text-->
          <p class="card-text">
            <strong>Ecommerce</strong> store selling 200 grams of body scrub.
          </p>
          <a data-toggle="modal" data-target="#mock6">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <a href="https://github.com/alvics/purebodyscrub" target="blank">
              <i
                class="fa fa-github"
                mdbTooltip="View source code"
                placement="top"
              ></i>
            </a>
            <i class="fa fa-heart"></i>
            <a
              href="https://purebody-coffescrub.firebaseapp.com/"
              target="blank"
            >
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END ANGULAR PROJECT CARDS -->

<div class="container">
  <!-- IMAGE WORDPRESS PROJECTS -->
  <h3
    class="smallScreenProjects white-text pt-5"
    style="text-align: center; background-color: #33b5e5;"
  >
    WordPress Projects
  </h3>
  <img
    class="mt-5"
    id="wpBanner"
    src="assets/images/wpprojects1.png"
    width="1105"
    height="150"
    alt="wordpress projects"
  />
  <div class="row mt-3 mb-5">
    <div class="column-2 px-2">
      <div class="card">
        <a data-toggle="modal" data-target="#mock1">
          <img
            class="img-fluid"
            src="assets/images/mocks/mcascade.png"
            mdbTooltip="WordPress-Project"
            placement="bottom"
          />
        </a>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Cascade Air Conditioning</h4>
          <!--Text-->
          <p class="card-text">
            Show case their Services, reputation and products available.
          </p>
          <a data-toggle="modal" data-target="#mock1">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-Project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="http://http://cascadeair.com.au/" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2">
      <div class="card">
        <a
          data-toggle="modal"
          data-target="#mock2"
          mdbTooltip="WordPress-project"
          placement="bottom"
        >
          <img class="img-fluid" src="assets/images/mocks/mewd.png" />
        </a>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">eWebDesigns</h4>
          <!--Text-->
          <p class="card-text">
            Show case services templates, styles and pricing.
          </p>
          <a data-toggle="modal" data-target="#mock2">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="https://ewebdesigns.com.au" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2">
      <div class="card">
        <a data-toggle="modal" data-target="#mock3">
          <img
            class="img-fluid"
            src="assets/images/mocks/msb.png"
            mdbTooltip="WordPress-Project"
            placement="bottom"
          />
        </a>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Style and Blade</h4>
          <!--Text-->
          <p class="card-text">
            Barbers blog show casing hair style and selling products,
            <strong>ecommerce store</strong>.
          </p>
          <a data-toggle="modal" data-target="#mock3">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="http://styleandblade.com" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New WordPress Projects -->
<div class="container">
  <!-- IMAGE WORDPRESS PROJECTS -->
  <!-- <h3
    class="smallScreenProjects white-text pt-5"
    style="text-align: center; background-color: #33b5e5;"
  >
    WordPress Projects
  </h3>
  <img
    class="mt-5"
    id="wpBanner"
    src="assets/images/wpprojects1.png"
    width="1105"
    height="150"
    alt="wordpress projects"
  /> -->

  <div class="row mt-3 mb-5">
    <div class="column-2 px-2">
      <div class="card">
        <a data-toggle="modal" data-target="#mock7">
          <img
            class="img-fluid"
            src="assets/images/mocks/renees.jpg"
            mdbTooltip="WordPress-Project"
            placement="bottom"
          />
        </a>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Ooh La Lava</h4>
          <!--Text-->
          <p class="card-text">
            Essential Oil Jewellery, Aromatherapy Jewellery.
            <strong>ecommerce store</strong>.
          </p>
          <a data-toggle="modal" data-target="#mock7">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-Project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="http://oohlalava.com./" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2">
      <div class="card">
        <a
          data-toggle="modal"
          data-target="#mock8"
          mdbTooltip="WordPress-project"
          placement="bottom"
        >
          <img class="img-fluid" src="assets/images/mocks/rainbow.jpg" />
        </a>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Rainbows and Sunshine</h4>
          <!--Text-->
          <p class="card-text">
            Childrens Video's, Songs and Books
            <strong>ecommerce store</strong>.
          </p>
          <a data-toggle="modal" data-target="#mock8">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="https://rainbowsandsunshine.com/" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-1 px-2">
      <div class="card">
        <a data-toggle="modal" data-target="#mock9">
          <img
            class="img-fluid"
            src="assets/images/mocks/lees.jpg"
            mdbTooltip="WordPress-Project"
            placement="bottom"
          />
        </a>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Lee's Goat Milk Products</h4>
          <!--Text-->
          <p class="card-text">
            Australian made Goat Milk Products
            <strong>ecommerce store</strong>.
          </p>
          <a data-toggle="modal" data-target="#mock9">
            <button class="btn btn-elegant waves-light" mdbWavesEffect>
              View Project
            </button>
          </a>
          <br />
          <!-- 3 ICONS -->
          <p>
            <i
              class="fa fa-wordpress"
              mdbTooltip="WordPress-project"
              placement="top"
            ></i>
            <i class="fa fa-heart"></i>
            <a href="https://leesgoatmilkproducts.com.au" target="blank">
              <i
                class="fa fa-mail-forward"
                mdbTooltip="View-live"
                placement="top"
              ></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottomsubhead">
  <h6>Specialising in Blazing-Fast high quality websites!</h6>
  <p>Request a quote</p>
</div>

<app-contact-modal></app-contact-modal>
<app-modal></app-modal>
