<!-- LAPTOP MOCKUPS -->
<div id="mocks" class="container-fluid">
    <div class="background-image">

        <div class="container mb-5">
            <h3 id="projects" class="pt-5">Portfolio</h3>
            <img src="assets/images/ngprojects.png" width="1180" height="100">
            <h5>Angular Websites</h5>


            <div class="row mt-3">

                <div class="col-md-4">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock4"><img class="img-fluid" src="assets/images/mocks/moll.png" mdbTooltip="Angular-Project" placement="top"></a>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Ooh La Lava</h4>
                            <!--Text-->
                            <p class="card-text">Essential Oil Jewellery and doTERRA essential oils, <strong>ecommerce store</strong>.</p>
                            <a data-toggle="modal" data-target="#mock4"> <button class="btn btn-info waves-light" mdbWavesEffect>View project</button></a><br>
                            <p>
                                <a href="https://github.com/alvics/ng-playground/tree/eShop_Ooh_La_Lava"> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i></a> <i class="fa fa-heart"></i> <a href="https://eshop-a6d13.firebaseapp.com/home" target="blank"><i class="fa fa-mail-forward" mdbTooltip="View live" placement="top"></i></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock5"><img class="img-fluid" src="assets/images/mocks/malp.png" mdbTooltip="Angular-Project" placement="bottom"></a>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Personal Project</h4>
                            <!--Text-->
                            <p class="card-text">This is my own portfolio website, showcasing services providing.</p>
                            <a data-toggle="modal" data-target="#mock5"> <button class="btn btn-info waves-light" mdbWavesEffect>View Project</button></a><br>
                            <p> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i> <i class="fa fa-heart"></i> <i class="fa fa-mail-forward"></i></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock6"><img class="img-fluid" src="assets/images/mocks/pure.jpg" mdbTooltip="Angular-Project" placement="top"></a>
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Pure Body Coffee Scrub</h4>
                            <!--Text-->
                            <p class="card-text"><strong>Ecommerce</strong> store selling 200 grams of body scrub.</p>
                            <a data-toggle="modal" data-target="#mock6"><button  class="btn btn-info waves-light" mdbWavesEffect>View Project</button></a><br>
                            <p>
                                <a href="https://github.com/alvics/Allen-Pavic"> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i></a> <i class="fa fa-heart"></i> <i class="fa fa-mail-forward"></i></p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- WordPess Websites -->
            <h5 id="angular"><i class="fa fa-wordpress" style="color: #fff; font-size: 25px;"></i> WordPress Websites</h5>
            <div class="row mt-3 mb-5">
                <div class="col-md-4">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock1"><img class="img-fluid" src="assets/images/mocks/mcascade.png" mdbTooltip="WordPress-Project" placement="top"></a>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Cascade Air Conditioning</h4>
                            <!--Text-->
                            <p class="card-text">Show case their Services, reputation and products available.</p>
                            <a data-toggle="modal" data-target="#mock1"><button class="btn btn-elegant waves-light" mdbWavesEffect>View Project</button></a><br>
                            <p> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i> <i class="fa fa-heart"></i> <i class="fa fa-mail-forward"></i></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" mdbTooltip="WordPress-Project" placement="top">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock2"><img class="img-fluid" src="assets/images/mocks/mewd.png"></a>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">eWebDesigns</h4>
                            <!--Text-->
                            <p class="card-text">Show case services templates, styles and pricing.</p>
                            <a data-toggle="modal" data-target="#mock2"><button class="btn btn-elegant waves-light" mdbWavesEffect>View Project</button></a><br>
                            <p> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i> <i class="fa fa-heart"></i> <i class="fa fa-mail-forward"></i></p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4" mdbTooltip="WordPress-Project" placement="right">
                    <div class="card">
                        <a data-toggle="modal" data-target="#mock3"><img class="img-fluid" src="assets/images/mocks/msb.png"></a>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Style and Blade</h4>
                            <!--Text-->
                            <p class="card-text">Barbers blog show casing hair style and selling products, <strong>ecommerce store</strong>.</p>
                            <a data-toggle="modal" data-target="#mock3"><button class="btn btn-elegant waves-light" mdbWavesEffect>View Project</button></a><br>
                            <p> <i class="fa fa-github" mdbTooltip="View source code" placement="top"></i> <i class="fa fa-heart"></i> <i class="fa fa-mail-forward"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomsubhead">
        <h6>Specializing in Blazing-Fast high quality website</h6>
        <p>Request a quote</p>
        <button routerLink="/contact" class="btn">get a quote</button>
    </div>

</div>

<app-modal></app-modal>