#mocks {
    img {
        display: block;
        margin: 0 auto;
        height: 400px;
        width: 400px;
    }
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: #33b5e5;
    color: #fff;
}