#s1 {
  padding: 100px 0;
  .fa {
    font-size: 85px;
    padding: 13px 0;
    color: #000;
  }
  p {
    display: block;
    font-size: 16px;
  }
  img,
  .fa,
  h3 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  list-style-type: none;
}

.ng-p,
.wp-p {
  padding-left: 100px;
}

.right-tick {
  float: left;
  padding-right: 10px;
}

.tile-gray {
  display: block;
  width: 100%;
  padding: 80px 0;
  background-color: #f2f2f2;
  margin-top: 100px;
  h3 {
    text-align: center !important;
    font-weight: 300;
    color: #424242;
    display: block;
  }
  p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0 10%;
  }
}

.sub-title {
  font-weight: 300;
  margin-bottom: 1.3em;
}

a:link {
  text-decoration: none;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

#wd-icons img {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  height: 120px;
}

#projectsW,
#projectsA {
  margin-top: 80px;
  .row {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    /* padding-right: 45px;*/
  }
  h4 {
    margin-left: 30px;
  }
  .fa {
    font-size: 22px;
  }
}

.displayed {
  display: block;
  margin: 50px auto;
  width: 50% !important;
}

#icon-rows {
  margin-top: 160px;
}

.learn-more {
  font-weight: bold;
  color: #33b5e5;
  text-align: center;
}

#btn {
  display: block;
  margin: 30px auto;
  background-color: #33b5e5;
  font-weight: 600;
}

/* ---------------------------------
 ----------Icon Rows -------------- */

#icon-rows {
  .fa {
    display: block;
    margin: auto;
  }
  h4,
  p {
    text-align: center;
  }
  .fa {
    color: #33b5e5;
    font-size: 70px;
    text-align: center;
  }
}

img {
  display: block;
  margin: 0 auto;
}

/* ======================
--- Media Queries ------
======================= */

.displayed {
  @media (max-width: 770px) {
    width: 100% !important;
  }
}

.displayed {
  @media (min-width: 720px) {
    width: 100%;
    padding: 0 25px;
  }
}

/*@media (min-width: 768px) and (max-width: 991px) {
  #mocks {
    width: 50%;
  }
} */

@media (max-width: 767px) {
  .column-1,
  .column-2 {
    width: 100%;
  }
}

/* Medium devices (tablets, less than 992px)  */

@media (min-width: 768px) and (max-width: 991px) {
  .column-1 {
    width: 50%;
  }
  .column-2 {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up)  */

@media (min-width: 992px) {
  .column-2,
  .column-1 {
    width: 33%;
  }
}
