<app-hero></app-hero>
<h1 class="mt-5" style="text-align:center;">
  <span style="color:#33b5e5">Building</span> Blazing-fast Websites </h1>
<h2 class="mt-1 mb-5" style="text-align:center;">Modern designed and easily customizable</h2>
<hr class="mb-4">

<!-- Icons and Content 3 Rows -->
<div id="icon-rows" class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <i class="fa fa-desktop"></i>
      <h4 class="mt-3 mb-3">Professional Web design</h4>
      <p>Specialize in web design for small to medium size businesses.
        <a routerLink="/web-design">
          <span class="learn-more">learn more</span>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <i class="fa fa-shopping-cart"></i>
      <h4 class="mt-3 mb-3">eCommerce Websites</h4>
      <p> Build a complete eCommerce website, turning your idea into sales.
        <a routerLink="/ecommerce">
          <span class="learn-more">learn more</span>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <i class="fa fa-line-chart"></i>
      <h4 class="mt-3 mb-3">Google Optimized</h4>
      <p>Get found by google search engines and increase your traffic and sales.
        <a routerLink="/seo">
          <span class="learn-more">learn more</span>
        </a>
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 col-sm-12">
      <div>
        <i class="fa fa-mobile-phone"></i>
      </div>
      <h4 class="mt-3 mb-3">Responsive Websites</h4>
      <p>Responsive websites to work on all platforms, mobile, tablet, laptop and desktop.
        <a routerLink="/responsive-websites">
          <span class="learn-more"> learn more</span>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <i class="fa fa-cogs"></i>
      <h4 class="mt-3 mb-3">Web Development</h4>
      <p>Manage, update, re-design or custom development with WordPress and Angular.
        <a routerLink="/web-development">
          <span class="learn-more">learn more</span>
        </a>
      </p>
    </div>
    <div class="col-md-4 col-sm-12">
      <i class="fa fa-database"></i>
      <h4 class="mt-3 mb-3">Web Hosting</h4>
      <p>Web hosting with Australian servers, includes FREE domain name for 2 years.
        <a routerLink="/web-hosting">
          <span class="learn-more"> learn more</span>
        </a>
      </p>
    </div>
  </div>
</div>
<!-- Image eweb -->
<img class="displayed mb-5" src="/assets/images/15.png" width="633" alt="">
<div class="container">
  <img id="responsiveWebsites" src="assets/pages/websites1.png" alt="">
  <button id="btn" type="button" class="btn btn-outline-info waves-light" mdbWavesEffect routerLink="/projects">View
    Recent
    Work
  </button>
</div>

<!-- CONTENT -->
<section class="tile-gray">
  <div class="container">
    <div class="grid">
      <div class="grid_heading">
        <h3>Making the Internet user Friendly</h3>
        <div class="sub-title">
          <p>Creating powerful unique identities, seamless integration, and memorable experiences connecting people to
            your brands and organizations, with the latest cutting edge technologies. I develop professional and
            engaging
            websites by transforming your ideas online to further improve your brand and increase your
            revenue stream!</p>
          <p>Technologies used to develop high quality blazing FAST websites, connect with me to get started.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="wd-icons" class="row">
      <div class="col-md-3 col-sm-6">
        <img src="assets/images/ng.png" alt="angularjs logo"> </div>
      <div class="col-md-3 col-sm-6">
        <img src="assets/images/pic1.png" alt="wordpress logo"> </div>
      <div class="col-md-3 col-sm-6">
        <img src="assets/images/pic4.png" alt="javascript logo"> </div>
      <div class="col-md-3 col-sm-6">
        <img src="assets/images/node.png" alt="nodejs logo"> </div>
    </div>
  </div>
</section>

<!-- Mockups Laptop -->
<div id="mocks" class="container-fluid" style="background-color: #f2f2f2">
  <div class="container" style="background-color: #f2f2f2">
    <h3 id="projects " class="pt-5">Recent projects</h3>
    <div class="row">

      <div class="col-lg-4 col-sm-12" mdbTooltip="Angular-Project" placement="top">
        <a data-toggle="modal" data-target="#mock4">
          <img class="mocks" src="assets/images/mocks/aroma_store.jpg">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12 " mdbTooltip="Angular-Project" placement="top">
        <a data-toggle="modal" data-target="#mock5">
          <img class="mocks" src="assets/images/mocks/malp.png">
        </a>
      </div>
      <div class="col-lg-4 col-sm-12" mdbTooltip="Angular-Project" placement="top">
        <a data-toggle="modal" data-target="#mock6">
          <img class="mocks" src="assets/images/mocks/pure.jpg">
        </a>
      </div>
    </div>
  </div>
</div>

<app-modal></app-modal>
<!-- BLUE BANNER -->
<app-contact-modal></app-contact-modal>
<app-pagination></app-pagination>
<app-footer></app-footer>