.tile-gray {
    display: block;
    width: 100%;
    padding: 40px 0;
    background-color: #f2f2f2;
    margin-top: 150px;
    h2 {
        font-family: "Roboto slab", sans-serif;
        text-align: center;
        font-weight: 300;
        color: #424242;
        display: block;
    }
    h3 {
        font-family: Open Sans;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
    }
    p {
        text-align: center;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        padding: 0 10%;
    }
}

.sub-title {
    font-family: Open Sans;
    font-weight: 300;
    margin-bottom: 1.3em;
}

a:link {
    text-decoration: none;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.grid__item-feature {
    padding: 2em 2.5em;
    margin: 0;
    border: 3px solid #f2f2f2;
}


/*  GRID COLORS */

.tile__background-purple {
    background: #ba77b1;
    background: linear-gradient(to bottom left, #ba77b1, #8176b5);
    background-size: cover;
    background-position: center;
}

.tile__background-green {
    background: #85cba8;
    background: linear-gradient(to bottom left, #85cba8, #76c4e2);
    background-size: cover;
    background-position: center;
}

.tile__background-blue {
    background: #76c4e2;
    background: linear-gradient(to bottom left, #76c4e2, #8176b5);
    background-size: cover;
    background-position: center;
}

.tile__background-yellow {
    background: #ffdb6f;
    background: linear-gradient(to bottom left, #ffdb6f, #f69259);
    background-size: cover;
    background-position: center;
}

.text-white {
    color: #fff;
}