<app-hero></app-hero>

<!-- Grid Home -->
<section class="tile-gray">
    <div class="container">
        <div class="grid">
            <div class="grid_heading">
                <h2>Making the Internet user Friendly</h2>
                <div class="sub-title">
                    <p>We create powerful unique identities, seamless integration, and memorable experiences connecting people to your brands and organizations, with the latest cutting edge technologies. Stay ahead of your competitors. Don't go for second
                        best, get your site developed by <strong>eWebDesigns</strong> built with style, preformance that are at lighting speeds!</p>
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="item-half grid tile__background-purple text-white grid__item-feature">

                <h3>Performance</h3>
                <p>We use software that optimizes and dramatically improves website performance and user experience.<a href="#"><span> Learn more ►</span></a></p>
            </div>

            <div class="item-half grid tile__background-green text-white grid__item-feature">
                <h3>Security</h3>
                <p>With software security a core feature, your website and vistors are protected form all types of online threats. <a href="#"><span> Learn more ►</span></a></p>
            </div>


            <div class="item-half tile__background-blue text-white grid__item-feature">
                <!--<i class="fa fa-wordpress"></i>-->
                <h3>WordPress Development</h3>
                <p>Easily managed, customisable in your own admin dashboard. Upload pictures, content edits on the fly.<a href="#"><span> Learn more ►</span></a></p>
            </div>

            <div class="item-half tile__background-yellow text-white grid__item-feature">
                <!--<img src="" alt="" width="100" height="100">-->
                <h3>Angular Development</h3>
                <p>The Angular framework is designed & built for speed, fast PWA (Progressive Web Applications) & SPA (Single Page Applications).<a href="#"><span> Learn more ►</span></a></p>
            </div>
        </div>
    </div>
</section>
<!-- Grid Home End -->