<app-hero></app-hero>

<div id="s1" class="container">
    <div class="row">
        <div class="col-md-6">
            <i class="fa fa-wordpress"></i>
            <h3>WordPress Development</h3>
            <ul>
                <li>Shop-front / wooCommerce</li>
                <li>Easily customisable</li>
                <li>Admin dashboard</li>
                <li>SEO friendly</li>
                <li>Quick edits</li>
                <li>Blog posts</li>
            </ul>

        </div>
        <div class="col-md-6">
            <img src="/assets/images/ng.png" alt="" width="110" height="110">
            <h3>Angular Development</h3>
            <ul>
                <li>Designed by google</li>
                <li>Build SPA & PWA</li>
                <li>Faster page loads</li>
                <li>Greater user experiance</li>
                <li>Mobile & Desktop</li>
                <li>JavaScript framework</li>
            </ul>
        </div>
    </div>
</div>

<!-- Grid Home -->
<section class="tile-gray">
    <div class="container">
        <div class="grid">
            <div class="grid_heading">
                <h3>Making the Internet user Friendly</h3>
                <div class="sub-title">
                    <p>Creating powerful unique identities, seamless integration, and memorable experiences connecting people to your brands and organizations, with the latest cutting edge technologies. Stay ahead of your competitors. Don't go for second
                        best, get your site developed with today's technologies that are built for preformance and user experiance, <em>did I mention there at at lighting speeds</em>!</p>
                    <p>If you're interested in having a blazing FAST website? Connect with me to get the latest in web developent concepts .</p>
                </div>
            </div>
        </div>
    </div>


    <div class="section-b">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3>Ready to start your Enterprise?</h3>
                    <p>Get started building your website.</p>
                </div>
                <div class="col-md-6"><button class="btn btn-lg"><a routerLink="/contact">GET IN TOUCH </a></button></div>
            </div>
        </div>
    </div>