<!-- MAIN HEADER -->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Web Developer Gold Coast</h2>
          <h5>
            <a routerLink="/home">Home</a> >
            <span style="color:#33b5e5">{{ page_title }}</span> > AL<span
              style="color:#33b5e5"
              >LEN</span
            >
            PAVIC
          </h5>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.MAIN HEADER -->

<!-- MAIN CONTAINER-->
<div id="main" class="container">
  <!-- HEADING -->
  <h1 style="color:#232323">
    {{ page_title }} by AL<span style="color:#33b5e5">LEN</span> PAVIC
  </h1>
  <h4 style="color:#232323">Custom high performance applications</h4>

  <!-- BOX-CONTAINER / LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
  <div class="box-container mt-5">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <span class="li-header"> Angular Development</span>
          <li><img src="assets/images/ngb2.png" height="60" alt="" /></li>
          <br /><span class="li-text"
            >Angular is a popular Javascript frame-work and is backed by Goolge.
            My choice for building Web Applications. (This site is built with
            Angular)
          </span>
          <span class="li-header">WordPress Development</span>
          <li>
            <i
              class="fa fa-wordpress"
              style="color: #33b5e5; font-size: 50px;"
            ></i>
          </li>
          <br />
          <span class="li-text"
            >Easily managed and customizable websites from catalogue to
            eCommerce, blogs and more.</span
          >
          <span class="li-header"> Angular / WordPress</span>
          <li>
            <i class="material-icons" style="color: #33b5e5;">
              settings_ethernet
            </i>
          </li>
          <br />
          <span class="li-text"
            >Choose your website development with Angular or WordPress? Really
            depends on your needs. Angular for speed and greater user
            experience. WordPress for affordability and self manage.
          </span>
        </ul>
      </div>
      <!-- IMAGE RIGHT-SIDE -->
      <div class="col-md-6 mt-4">
        <div id="responsive" class="col-md-4 col-sm-12">
          <img
            class="websitesImg"
            id="websitesImg1"
            src="assets/pages/websites2.png"
            width="350" height="auto"
            alt="responsive websites"
          />
        </div>
      </div>
    </div>
    <!-- /.END BOX-CONTAINER / LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
  </div>
  <!-- /.END BOX-CONTAINER -->

  <!-- WEB-DEV-IMAGE / TEXT-ROW -->
  <div class="row mt-5 pb-4">
    <div class="col-md-6 col-sm-12">
      <img
        class="websitesImg"
        src="assets/pages/websites1.png"
        width="350" height="auto"
        alt="responsive websites"
      />
    </div>
    <!-- WHY CHOOSE US -->
    <div id="whyus-develop" class="col-md-6 col-sm-12 whyus">
      <div class="info">
      <h5 class="mt-5">Why choose us?</h5>
      <p>
        <span style="color:#33b5e5; font-weight:bold;"
          >Affordable website service</span
        >
        for small to medium size businesses to get you online professionally,
        faster and to stay ahead of your competitors.
      </p>
      <p>
        <span style="color:#33b5e5; font-weight:bold;">We guarantee</span> to
        beat any written quote. Whether you are looking for eCommerce store or a
        custom website.
      </p>
    </div>
    </div>
  </div>
  <!-- END GRAPH ROW -->
</div>
<!-- /. END MAIN CONTAINER -->

<!-- CONTAINER-FLUID -->
<div class="container-fluid" style="background-color:#f2f2f2">
  <div class="container">
    <div id="row3" class="row mt-3">
      <!-- MATERIAL ICONS 3-->
      <div class="col-md-4">
        <i class="material-icons">
          important_devices
        </i>
        <h5 class="mt-2">Angular</h5>
        <p class="mt-3">
          PWA (Progressive Web Application) get a blazing-fast web app developed
          with Angular.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-wordpress" style="color: #33b5e5; font-size: 50px;"></i>
        <h5 class="mt-2">WordPress</h5>
        <p class="mt-3">
          Creating beautiful, engaging websites for your niche, professionally
          designed for all devices.
        </p>
      </div>
      <div class="col-md-4">
        <i class="material-icons">
          devices
        </i>
        <h5 class="mt-2">Fast & Responsive</h5>
        <p class="mt-3">
          The 2 most important aspects for user experience and for browsing the
          web, keeping your users active.
        </p>
      </div>
    </div>
    <!-- /.END ROW 3 -->
    <!-- MOCKS -->
    <div id="mocks" class="row">
      <div class="column-1 px-2" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock1"
          ><img class="img-fluid" src="assets/images/mocks/mcascade.png"
        /></a>
      </div>
      <div class="column-1 px-2" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock2"
          ><img class="img-fluid" src="assets/images/mocks/mewd.png"
        /></a>
      </div>
      <div class="column-2 px-2" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock3"
          ><img class="img-fluid" src="assets/images/mocks/msb.png"
        /></a>
      </div>
    </div>
    <!-- MODAL COMPONENT -->
    <app-modal></app-modal>
    <!-- END MOCKS -->

    <!-- CALL TO ACTION -->
    <div class="bottomsubhead">
      <h6>Specialising in Blazing-Fast high quality websites!</h6>
      <p>Request a quote</p>
    </div>
  </div>
  <!-- /.END CONTAINER -->
</div>
<!-- /.END CONTAINER-FLUID -->
<app-contact-modal></app-contact-modal>
<!--Pagination -->
<app-pagination></app-pagination>
<app-footer></app-footer>
