<!-- MAIN HEADER -->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Web Developer Gold Coast</h2>
          <h5>
            <a routerLink="/home">Home</a> >
            <span style="color:#33b5e5">{{ title }}</span> > AL<span
              style="color:#33b5e5"
              >LEN</span
            >
            PAVIC
          </h5>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.MAIN HEADER -->

<!-- MAIN CONTAINER -->
<div id="main" class="container">
  <!-- HEADING -->
  <h1 style="color:#232323">
    Web Design by AL<span style="color:#33b5e5">LEN</span> PAVIC
  </h1>
  <h4 style="color:#232323">Engaging websites for businesses to get results</h4>

  <!-- LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
  <div class="box-container mt-5">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <span class="li-header"> Professionally designed websites</span>
          <li>
            <i class="material-icons" style="color: #33b5e5">
              desktop_windows
            </i>
          </li>
          <br />
          <span class="li-text"
            >Complete within 10 business days, efficient design and development
            process.</span
          >
          <span class="li-header">For Mobile & Desktop</span>
          <li>
            <i class="material-icons" style="color: #33b5e5">
              devices
            </i>
          </li>
          <br />
          <span class="li-text"
            >Designed and built to not only look great but to work on all
            devices effectively.</span
          >
          <span class="li-header"> Website support</span>
          <li>
            <i class="material-icons" style="color: #33b5e5">
              headset_mic
            </i>
          </li>
          <br />
          <span class="li-text"
            >For peace of mind our support is always a phone call away for any
            technical changes or advice needed.
          </span>
        </ul>
      </div>
      <!-- IMAGE RIGHT-SIDE -->
      <div class="col-md-6 mt-4">
        <div id="responsive" class="col-md-4 col-sm-12">
          <img
            id="websitesImg1"
            srcset="assets/pages/webdesign.jpeg"
            width="500"
            sizes="(max-width: 474px) 100vw, 474px"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- /.LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
  </div>
  <!-- /.END CONTAINER -->

  <!-- WHY US -->
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12">
      <img id="websites" src="assets/pages/websites2.png" alt="" />
    </div>
    <div id="whyus" class="col-md-6 col-sm-12">
      <h5 class="mt-5">Why choose us?</h5>
      <p>
        <span style="color:#33b5e5; font-weight:bold;"
          >Affordable website service</span
        >
        for small to medium size businesses to get you online professionally,
        faster and to stay ahead of your competitors.
      </p>
      <p>
        <span style="color:#33b5e5; font-weight:bold;">We guarantee</span> to
        beat any written quote. Whether you are looking for eCommerce store or a
        custom website.
      </p>
    </div>
  </div>
  <!-- /.END WY US-->
</div>
<!-- /.END MAIN CONTAINER  -->

<!-- CONTAINER-FLUID -->
<div id="container3" class="container-fluid" style="background-color:#f2f2f2">
  <!-- ROW 3 -->
  <div class="container">
    <div id="row3" class="row mt-5">
      <div class="col-md-4">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h5 class="mt-3">Professionally designed</h5>
        <p>
          Modern designed layouts and modules for your industry/niche that
          delivers results with seamless integration.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h5 class="mt-3">Re-Designs and Updates</h5>
        <p>
          Transform old out dated websites into modern, powerful unique
          identities for memorable experiences.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h5 class="mt-3">Engaging designs</h5>
        <p>
          For your industry/niche I provide up to 5 FREE stock images to help
          support your business goals and objectives.
        </p>
      </div>
    </div>
    <!-- /.END ROW 3 -->

    <!-- MOCKS -->
    <div id="mocks" class="row">
      <div
        class="column-2 px-2 mb-r"
        mdbTooltip="WordPress-Project"
        placement="top"
      >
        <a data-toggle="modal" data-target="#mock1">
          <img src="assets/images/mocks/mcascade.png" />
        </a>
      </div>
      <div
        class="column-1 px-2 mb-r"
        mdbTooltip="WordPress-Project"
        placement="top"
      >
        <a data-toggle="modal" data-target="#mock2">
          <img src="assets/images/mocks/mewd.png" />
        </a>
      </div>
      <div
        class="column-1 px-2 mb-r"
        mdbTooltip="WordPress-Project"
        placement="top"
      >
        <a data-toggle="modal" data-target="#mock3">
          <img src="assets/images/mocks/msb.png" />
        </a>
      </div>
    </div>
    <!-- /.END MOCKS -->

    <!-- MODAL COMPONENT -->
    <app-modal></app-modal>
  </div>
  <!-- /.END CONTAINER-->
</div>
<!-- /.END CONTAINER-FLUID -->

<div class="container-fluid bannerQuote" style="background-color: #f2f2f2;">
  <div class="bottomsubhead">
    <h6>Specialising in Blazing-Fast high quality websites!</h6>
    <p>Request a quote</p>
  </div>
</div>

<app-contact-modal></app-contact-modal>
<app-pagination></app-pagination>
<!-- FOOTER COMPONENT -->
<app-footer></app-footer>
