<!-- Modal 1 -->
<div
  class="modal fade"
  id="mock1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - Cascade Air Conditioning</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6><a href="http://cascadeair.com.au" target="blank">View live</a></h6>
        <a href="http://cascadeair.com.au" target="blank"
          ><img src="assets/images/portfolio/img1.png" alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="modal fade"
  id="mock2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - eWebDesigns</h5>
        <br />

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>
          <a href="https://ewebdesigns.com.au" target="blank">View live</a>
        </h6>
        <a href="https://ewebdesigns.com.au" target="blank"
          ><img src="assets/images/portfolio/ewd_p.png" alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div
  class="modal fade"
  id="mock3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - Style & Blade</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>
          <a href="https://styleandblade.com" target="blank"> View live</a>
        </h6>
        <a href="https://styleandblade.com" target="blank"
          ><img src="assets/images/portfolio/img3.png" alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="modal fade"
  id="mock4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Angular project - Aroma Store</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <h6>
          <a
            href="https://github.com/alvics/ng-playground/tree/eShop_Ooh_La_Lava"
            target="blank"
            >Source code <i class="fa fa-github-square fa-2x"></i></a
          ><span> or</span>
          <a
            href="https://aromastore-660c7.firebaseapp.com/#/home"
            target="blank"
          >
            View live</a
          >
        </h6>
        <a href="https://aromastore-660c7.firebaseapp.com/#/home" target="blank"
          ><img
            src="assets/images/portfolio/AromaStore_1200x600.jpg"
            alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div
  class="modal fade"
  id="mock5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Angular - Personal Project</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <h6>
          <a href="https://github.com/alvics/Allen-Pavic" target="blank"
            >Source code <i class="fa fa-github-square fa-2x"></i
          ></a>
          <span> or</span>
          <a href="#"> View live</a>
        </h6>
        <a href="https://ewebdesigns.com.au" target="blank"
          ><img src="assets/images/portfolio/ap12.png" alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div
  class="modal fade"
  id="mock6"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Angular - Pure Body Coffee Scrub</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <h6>
          <a href="https://github.com/alvics/purebodyscrub" target="blank"
            >Source code <i class="fa fa-github-square fa-2x"></i
          ></a>
          <span> or</span>
          <a href="https://purebody-coffescrub.firebaseapp.com/" target="blank">
            View live</a
          >
        </h6>
        <a href="https://purebody-coffescrub.firebaseapp.com/" target="blank"
          ><img src="assets/images/portfolio/1200.png" alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- New Modals -->

<!-- Modal 7 -->
<div
  class="modal fade"
  id="mock7"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - Ooh La Lava</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <a href="https://oohlalava.com" target="blank"> View live</a>
        <a href="https://oohlalava.com" target="blank"
          ><img
            src="assets/images/portfolio/oll1200.jpg"
            alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 8 -->
<div
  class="modal fade"
  id="mock8"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - Ooh La Lava doTERRA Australia</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <a href="https://oohlalava.com" target="blank"> View live</a>
        <a href="https://oohlalava.com" target="blank"
          ><img
            src="assets/images/portfolio/doterra.png"
            alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal 9 -->
<div
  class="modal fade"
  id="mock9"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">WordPress - Lee's Goat Milk Products</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="https://leesgoatmilkproducts" target="blank"> View live</a>
        <a href="https://leesgoatmilkproducts" target="blank"
          ><img
            src="assets/images/portfolio/lees1200.jpg"
            alt="portfolio_project"
        /></a>
      </div>
    </div>
  </div>
</div>
