nav {
    background-color: #232323;
}

.navbar {
    overflow-y: hidden;
}

links {
    margin-left: 100px;
}

a.nav-link {
    font-size: 14px;
    padding-left: 40px !important;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.fa {
    padding-left: 40px;
    color: #fff;
    transition: 0.35s;
}

.fa:hover {
    color: #ccc;
    cursor: pointer;
    transition: 0.35s;
}