<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">
  <div class="section-1">
    <div class="container pt-5">
      <div class="row">
        <div class="col-sm-3">
          <h3>AL<span style="color:#33b5e5">LEN</span> PAVIC</h3>
          <P
            >Web Developer <br />Gold Coast Australia <br />WordPress /
            Angular</P
          >
          <!-- <button class="btn btn-lg"><i>Let's connect</i></button> -->
        </div>
        <div class="col-sm-3">
          <h3 class="mb-3">CONTACT ME</h3>
          <a id="phone-call" href="tel:0404602657"><i class="fa fa-phone"> 0404 602 657</i></a>
          <p class="mt-3"><a href="mailto:apavic71@gmail.com">Email: apavic71@gmail.com </a></p>

          <h3>SOCIAL CONNECT</h3>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-free-code-camp"></i>
        </div>
        <div class="col-sm-3">
          <h3>TECHNOLOGIES</h3>
          <ul>
            <li>Angular</li>
            <li>WordPress</li>
            <li>JavaScript</li>
            <li>Html 5</li>
            <li>CSS 3</li>
            <li>PHP</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>SERVICES</h3>
          <ul>
            <a routerLink="/web-design" routerLinkActive="active">
              <li>Web Design</li>
            </a>
            <a routerLink="/web-hosting" routerLinkActive="active">
              <li>Web Hosting</li>
            </a>
            <a routerLink="/seo" routerLinkActive="active">
              <li>SEO Marketing</li>
            </a>
            <a routerLink="/web-development" routerLinkActive="active">
              <li>Web Development</li>
            </a>

            <a routerLink="/responsive-websites" routerLinkActive="active">
              <li>Responsive Websites</li>
            </a>
            <a routerLink="/ecommerce" routerLinkActive="active">
              <li>Ecommerce Websites</li>
            </a>
          </ul>
        </div>
      </div>
      <br />
      <p align="center" style="color: b">
        © 2019 AL<span style="color:#33b5e5">LEN</span> PAVIC
      </p>
    </div>
  </div>
  <div id="end-banner"></div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
