<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">

    <div class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>AL<span style="color:#33b5e5">LEN</span> PAVIC</h3>
                    <P>Web Developer <br>Gold Coast Australia <br>WordPress / Angular</P>
                    <!-- <button class="btn btn-lg"><i>Let's connect</i></button> -->
                </div>
                <div class="col-sm-3">
                    <h3>CONTACT ME</h3>
                    <P>Email: apavic71@gmail.com </P>


                    <h3>SOCIAL CONNECT</h3>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-github"></i>
                    <i class="fa fa-free-code-camp"></i>

                </div>
                <div class="col-sm-3">
                    <h3>TECHNOLOGIES</h3>
                    <ul>
                        <li>Angular</li>
                        <li>Node js</li>
                        <li>WordPress</li>
                        <li>JavaScript</li>
                        <li>Html 5</li>
                        <li>CSS 3</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>SERVICES</h3>
                    <ul>
                        <a routerLink="/web-design">
                            <li>Web Design</li>
                        </a>
                        <a routerLink="/web-hosting">
                            <li>Web Hosting</li>
                        </a>
                        <a routerLink="/seo">
                            <li>SEO Marketing</li>
                        </a>
                        <a routerLink="/web-development">
                            <li>Web Development</li>
                        </a>

                        <a routerLink="/responsive-websites">
                            <li>Responsive Websites</li>
                        </a>
                        <a routerLink="/ecommerce">
                            <li>Ecommerce Websites</li>
                        </a>
                    </ul>
                </div>

            </div>
            <br>
            <p align="center" style="color: b"> © 2018 AL<span style="color:#33b5e5">LEN</span> PAVIC</p>
        </div>
    </div>
    <div id="end-banner"></div>
    <!-- Copyright -->

</footer>
<!-- Footer -->