<div class="section-banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div id="bottomBannerText" class="col-sm-12 col-md-6 bluebanner1">
          <h3>Get My Free Proposal</h3>
          <p>High quality professional websites.</p>
        </div>
        <div class="col-sm-12 col-md-6 bluebanner2">
          <button type="button" class="btn btn-outline-info waves-light" mdbWavesEffect (click)="frame.show()">GET IN
            TOUCH</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal: Contact form-->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <form [formGroup]="myForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100">Contact form</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">

            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate" mdbInputDirective
              formControlName="contactFormName" [(ngModel)]="itemName">
            <label data-error="wrong" data-success="right" for="form34">Your name</label>


            <div class="md-form mb-5">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="form29" class="form-control validate" mdbInputDirective
                formControlName="contactFormEmail" [(ngModel)]="itemEmail">
              <label data-error="wrong" data-success="right" for="form29">Your email</label>
            </div>

            <div class="md-form mb-5">
              <i class="fa fa-tag prefix grey-text"></i>
              <input type="text" id="form32" class="form-control validate" mdbInputDirective
                formControlName="contactFormSubject" [(ngModel)]="itemSubject">
              <label data-error="wrong" data-success="right" for="form32">Subject</label>
            </div>

            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInputDirective
                formControlName="contactFormMessage" [(ngModel)]="itemMessage"></textarea>
              <label data-error="wrong" data-success="right" for="form8">Your message</label>
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button [disabled]="!myForm.valid" (click)="onSubmit()" (click)="frame.hide()" type="submit" mdbBtn
                color="info" class="waves-light" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<!--Modal: Contact form-->

<!-- <div class="container-fluid">
	<div style="color: blue;">
		<h1>Contact me</h1>
	</div>
 
	<div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">Name</label> <input type="text"
					class="form-control" placeholder="Name" id="item"
					required [(ngModel)]="itemName" name="item">
			</div>
            <div class="form-group">
				<label for="item">Email</label> <input type="text"
					class="form-control" placeholder="email@" id="item"
					required [(ngModel)]="itemEmail" name="item">
			</div>
            <div class="form-group">
				<label for="item">Message</label> <input type="text-area"
					class="form-control" placeholder="Name" id="item"
					required [(ngModel)]="itemMessage" name="item">
			</div>
 
			<div class="btn-group">
				<button type="submit" class="btn btn-info">Submit</button>
			</div>
		</form>
	</div> -->
<!--  <div class="container mt-5">
  <h1 class="title">Contact Form</h1>
  <div class="wrapper animated bounceInLeft">
    <div class="contact">
      <h3 class="contact-us">Contact Us</h3>
      <div class="alert">Your message has been sent!</div>
      <form id="contactForm" (ngSubmit)="onSubmit()">
        <p class="name-field">
          <label>Name <span>*</span></label>
          <input type="text" name="name" [(ngModel)]="itemName" id="name" required>
        </p>
       <p class="email-field">
          <label>Email <span>*</span></label>
          <input type="email" name="email" [(ngModel)]="itemEmail" id="email" required>
        </p>
        <p class="phone-field">
          <label>Phone</label>
          <input type="text" [(ngModel)]="itemSubject" name="phone" id="phone">
        </p>
        <p class="message-field full">
          <label>Message</label>
          <textarea name="message" rows="5" [(ngModel)]="itemMessage" id="message"></textarea>
        </p>
        <p class="required-field">Required field <span>*</span></p>
        <p class="submit-button">
          <button type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
      -->