<!-- MAIN HEADER-->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Web Developer Gold Coast</h2>
          <h5>
            <a routerLink="/home">Home</a> >
            <span style="color:#33b5e5">{{ title }}</span> > AL<span
              style="color:#33b5e5"
              >LEN</span
            >
            PAVIC
          </h5>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.Main HEADER-->

<!-- MAIN CONTAINER -->
<div id="main" class="container">
  <!-- HEADING -->
  <h1 style="color:#232323">
    {{ title }} by AL<span style="color:#33b5e5">LEN</span> PAVIC
  </h1>
  <h4 style="color:#232323">Affordable Australian web hosting</h4>

  <!-- LEFT 3 ROW ICONS / RIGHT SIDE IMAGE -->
  <div class="box-container mt-5">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <span class="li-header"> Secure Database</span>
          <li>
            <i
              class="fa fa-database"
              style="color: #33b5e5; font-size: 50px;"
            ></i>
          </li>
          <br /><span class="li-text"
            >Security at its core, WAF, DDoS protection, and SSL defended
            websites. Protecting you from online threats.
          </span>

          <span class="li-header">Web Hosting</span>
          <li>
            <i class="fa fa-feed" style="color: #33b5e5; font-size: 50px;"></i>
          </li>
          <br />
          <span class="li-text"
            >Using Australian servers together with the best hosting providers
            to deliver premium web hosting.</span
          >
          <span class="li-header"> Server</span>

          <li>
            <i
              class="fa fa-server"
              style="color: #33b5e5; font-size: 50px;"
            ></i>
          </li>
          <br />
          <span class="li-text"
            >Server space from 1GB to unlimited, packages to suit any website
            and budget. Great for small to medium size businesses.
          </span>
        </ul>
      </div>
      <!-- IMAGE RIGHT-SIDE -->
      <div class="col-md-6 mt-4">
        <div id="responsive" class="col-md-4 col-sm-12">
          <img
            class="websitesImg1"
            srcset="assets/images/hosting2.jpeg"
            width="515"
            sizes="(max-width: 474px) 100vw, 474px"
            alt=""
          />
        </div>
      </div>
      <!-- /.END IMAGE RIGHT-SIDE -->
    </div>
    <!-- /.END ROW -->
  </div>
  <!-- /.END BOX-CONTAINER -->
</div>
<!-- /.END MAIN CONTAINER -->

<!-- DATABASE-IMAGE / TEXT-ROW CONTAINER ROW-->
<div class="container">
  <div class="row mt-5 pb-4">
    <div id="database" class="col-md-6 col-sm-12">
      <img
        class="websitesImg2"
        src="assets/pages/data.jpeg"
        height="442"
        alt=""
      />
    </div>
    <!-- WHY CHOOSE US -->
    <div id="whyus2" class="col-md-6 col-sm-12">
      <h5 id="whyus" class="mt-5">Why choose us?</h5>
      <h4
        id="smallScreenOnly"
        class="text-center"
        style="color:#fff; background-color:#33b5e5;"
      >
        Why choose us?
      </h4>
      <ul>
        <li><img src="assets/images/right.png" /> Australian Hosting</li>
        <li><img src="assets/images/right.png" /> Affordable Pricing</li>
        <li><img src="assets/images/right.png" /> Reliable & Secure</li>
        <li><img src="assets/images/right.png" /> Website Back ups</li>
        <li><img src="assets/images/right.png" /> Service and Support</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<!-- /.END DATABASE-IMAGE / TEXT-ROW CONTAINER ROW -->

<!-- CONTAINER-FLUID ROW3 -->
<div class="container-fluid" style="background-color:#f2f2f2">
  <div class="container">
    <div id="row3" class="row mt-3">
      <!-- MATERIAL ICONS 3-->
      <div class="col-md-4">
        <i class="material-icons">
          wifi_lock
        </i>
        <h5 class="mt-3">Secure Web Hosting</h5>
        <p class="mt-3">
          Protect applications and websites from malicious traffic, prevent
          attackers from sensitive data and personal information.
        </p>
      </div>

      <div class="col-md-4">
        <i class="material-icons">
          backup
        </i>
        <h5 class="mt-3">Website Backups</h5>
        <p class="mt-3">
          Websites are developed then saved and backup regularly, you may
          request your website backup at any time required after development.
        </p>
      </div>
      <div class="col-md-4">
        <i class="material-icons">
          language
        </i>
        <h5 class="mt-3">Performance</h5>
        <p class="mt-3">
          Speed up your website and get the maximum performance through a global
          CDN with web optimization features.
        </p>
      </div>
    </div>
    <!-- /.END ROW 3-->

    <!-- MOCKS -->
    <div id="mocks" class="row">
      <div class="col-md-4" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock1"
          ><img src="assets/images/mocks/mcascade.png"
        /></a>
      </div>
      <div class="col-md-4" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock2"
          ><img src="assets/images/mocks/mewd.png"
        /></a>
      </div>
      <div class="col-md-4" mdbTooltip="WordPress-Project" placement="top">
        <a data-toggle="modal" data-target="#mock3"
          ><img src="assets/images/mocks/msb.png"
        /></a>
      </div>
    </div>
    <!-- MODAL COMPONENT -->
    <app-modal></app-modal>
    <!-- /.END MOCKS -->

    <!-- CALL TO ACTION -->
    <div class="bottomsubhead">
      <h6>Specialising in Blazing-Fast high quality websites!</h6>
      <p>Request a quote</p>
    </div>

    <!-- /.END CALL TO ACTION-->
  </div>
  <!-- /.END CONTAINER (ROW3) -->
</div>
<!-- /.END CONTAINER-FLUID (ROW3) -->

<app-contact-modal></app-contact-modal>
<!--Pagination -->
<app-pagination></app-pagination>
<app-footer></app-footer>
