.view {
  background: url('/assets/images/hero2.jpeg') no-repeat center center;
  background-size: cover;
  height: 50vh;
  border-bottom: solid 3px #33b5e5;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.white-text {
  padding-bottom: 70px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#main {
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: -40px;
  }
  h4 {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 50px;
  }
  h5,
  p {
    color: #232323;
    margin-left: -270px;
    padding-right: 125px;
  }
  .material-icons {
    font-size: 50px;
  }
}

.whyus {
  h5,
  p {
    padding: 0;
    padding-left: 200px;
  }
}

h5 {
  font-size: 22px;
}

/* =====================
    ---- MEDIA QUERIES -----
==========================*/

@media (max-width: 450px) {
  #websites {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

@media (min-width: 451px) and (max-width: 1700px) {
  #websites {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 820px) {
  .white-text {
    #heroT,
    #heroP {
      display: none;
    }
    .btn-danger {
      margin-top: -80px;
    }
    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 70px;
    }
  }
  .services[_ngcontent-c2] {
    padding-left: 0px !important;
  }
}

@media (max-width: 450px) {
  .whyus {
    margin-left: 100px !important;
  }
}

@media (max-width: 450px) {
  .view {
    background: url('/assets/images/img2_p.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .container {
    padding-top: 25px;
  }
  .white-text {
    #heroT,
    #heroP {
      display: none;
    }
    .btn-danger {
      margin-top: 80px;
    }
    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 70px;
    }
    .whyus {
      h5,
      li {
        color: #232323;
        text-align: center;
      }
    }

    img #responsiveWebsites {
      height: 50% !important;
      display: block;
      margin: 0 auto;
    }
  }
  
  /*--------------------*/
  .white-text {
    h5 {
      margin-top: 90px;
      padding: 15px 0;
    }
    h2 {
      text-align: center;
      margin-top: -130px;
      padding-bottom: 35px;
      margin-bottom: -120px;
      padding-top: 35px;
    }
  }
  .pagination[_ngcontent-c4] {
    margin-top: 60px;
  }
}
/*------------*/

#responsiveWebsites {
  @media (max-width: 450px) {
    width: 75%;
    height: auto !important;
  }
}

.mocks {
  @media (max-width: 450px) {
    width: 50%;
    margin-right: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 700px) and (max-width: 1025px) {
  .whyus {
    h5,
    p {
      padding: 0;
      padding-left: 400px;
    }
  }

  #main h5,
  #main p {
    padding-right: 0;
  }
}
