.navbar {
  overflow-y: hidden;
}

.links {
  margin-left: 100px;
}

a.nav-link {
  font-size: 14px;
  font-family: 'Google Sans', sans-serif;
  font-weight: 400;
  padding: 5px 20px !important;
  // color: rgba(0, 0, 0, 0.54) !important;

  //
  // }
}

.nav-link {
  color: rgba(0, 0, 0, 0.54) !important;
  &:hover {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}

.fa {
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.54);
  transition: 0.35s;
}

.fa:hover {
  color: #33b5e5;
  cursor: pointer;
  transition: 0.35s;
}

.active {
  background-color: rgb(248, 249, 250);
  color: #33b5e5 !important;
  &:hover {
    color: #33b5e5 !important;
  }
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  margin-top: -8px;
  padding: 10px 25px;
  border-top: solid 4px #33b5e5;
}

.dropdown-item:hover {
  color: #33b5e5 !important;
}

a.dropdown-item.active {
  color: #33b5e5 !important;
}

.fa-chevron-down {
  display: none;
}
li:hover .fa-chevron-down {
  position: absolute;
  display: inline-block;
  font-weight: 300;
  font-size: 10px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.54) !important;
}

/*-----------------------
-------underline---------
----------------------- */

.header-nav-item {
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

.header-nav-item span {
  height: 2px;
  background-color: #33b5e5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.3s ease;
}

.header-nav-item:hover span {
  width: 75%;
  margin-left: 15px;
}

.header-nav-item:active span {
  width: 75%;
  margin-left: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-nav-item:hover span {
    width: 90%;
  }

  .header-nav-item {
    width: 18% !important;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .header-nav-item:hover span {
    width: 75%;
  }

  .header-nav-item {
    width: 34% !important;
  }
}
