<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-light white"
  [containerInside]="true"
>
  <logo>
    <a class="logo navbar-brand" routerLink="/home">
      <!-- AL<span style="color:#33b5e5">LEN</span> PAVIC-->
      <img src="assets/images/logo_g.png" width="175" alt="Allen Pavic logo" />
    </a>
  </logo>
  <links>
    <div>
      <ul class="navbar-nav mr-auto">
        <div class="header-nav-item">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/home" routerLinkActive="active"
              >Home
            </a>
            <span></span>
          </li>
        </div>
        <div class="header-nav-item">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/about" routerLinkActive="active"
              >About</a
            >
            <span></span>
          </li>
        </div>
        <div class="header-nav-item dropdown" mdbDropdown>
          <li
            mdbDropdownToggle
            class="nav-item waves-light dropdown-toggle"
            mdbWavesEffect
          >
            <a class="nav-link"
              >Services <i id="chevron-down" class="fa fa-chevron-down"></i
            ></a>
            <span></span>
          </li>
          <div class="dropdown-menu dropdown-primary">
            <a
              class="dropdown-item"
              routerLink="web-design"
              routerLinkActive="active"
              >Web design</a
            >
            <a
              class="dropdown-item"
              routerLink="ecommerce"
              routerLinkActive="active"
              >eCommerce</a
            >
            <a class="dropdown-item" routerLink="seo" routerLinkActive="active"
              >SEO websites</a
            >
            <div class="divider dropdown-divider"></div>
            <a
              class="dropdown-item"
              routerLink="responsive-websites"
              routerLinkActive="active"
              >Responsive websites</a
            >
            <a
              class="dropdown-item"
              routerLink="web-development"
              routerLinkActive="active"
              >Web development</a
            >
            <a
              class="dropdown-item"
              routerLink="web-hosting"
              routerLinkActive="active"
              >Web hosting</a
            >
          </div>
        </div>
        <div class="header-nav-item">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active"
              >Projects</a
            >
            <span></span>
          </li>
        </div>
        <div class="header-nav-item">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/blog" routerLinkActive="active"
              >Blog</a
            >
            <span></span>
          </li>
        </div>
        <div class="header-nav-item">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
            <span></span>
          </li>
        </div>
      </ul>
    </div>

    <div>
      <ul class="d-flex list-unstyled p-0 m-0">
        <li>
          <a href="https://facebook.com/ewebdesigns" target="blank"
            ><i class="fa fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/alvics" target="blank"
            ><i class="fa fa-github"></i
          ></a>
        </li>
        <li>
          <a href="https://freecodecamp.org/alvics" target="blank"
            ><i class="fa fa-free-code-camp"></i
          ></a>
        </li>
      </ul>
    </div>
  </links>
</mdb-navbar>
