<!-- Main 
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h2>Web Developer Gold Coast</h2>
                    <h5><span style="color:#33b5e5">Blog</span> > AL<span style="color:#33b5e5">LEN</span> PAVIC</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>-->
<app-header [title]="newTitle()"></app-header>

<div class="container pt-5">
    <h2 class="pb-4">My <span class="blog">Blog</span></h2>
    <div class="overlay">
        <ul>
            <li *ngFor="let post of posts$">
                <h3>
                    <div [innerHTML]="post.title.rendered"></div>
                </h3>
                <div [innerHTML]="post.content.rendered"></div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>