<!-- Main -->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container">
        <div [@fadeInUp]="fadeInUp" class="white-text text-center wow fadeInUp">
          <h2>Web Developer Gold Coast</h2>
          <h5>
            <a routerLink="/home">Home</a> >
            <span style="color:#33b5e5">Blog</span> > AL<span
              style="color:#33b5e5"
              >LEN</span
            >
            PAVIC
          </h5>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="overlay">
    <ul>
      <li *ngFor="let post of posts$">
        <h1>
          <div [innerHTML]="post.title.rendered"></div>
        </h1>
        <p [innerHTML]="post.content.rendered"></p>
      </li>
    </ul>
  </div>
</div>
<!-- <h2>Blog List</h2>
  <div class="row">
    <mdb-card *ngFor="let post of posts$ | async">
      <mdb-card-img [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url"></mdb-card-img>
      <mdb-card-title>
        <h4>{{ post.title.rendered }}</h4>
      </mdb-card-title>
      <mdb-card-text [innerHTML]="post.excerpt.rendered"></mdb-card-text>
      <mdb-card-title>
        <p>{{ post.date_gmt | date }}</p>
      </mdb-card-title>
      <a [href]="post.link" class="btn btn-primary waves-light" mdbWavesEffect>View</a>
    </mdb-card>
  </div> -->

<app-footer></app-footer>
